<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228738206803-ofnnnnoj8jati2hvgb6o6e3qvfenf8ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228738206803-ofnnnnoj8jati2hvgb6o6e3qvfenf8ut</string>
	<key>API_KEY</key>
	<string>AIzaSyBtD7hAhcztHDFKq_uxAv00pB5PaPLEzq0</string>
	<key>GCM_SENDER_ID</key>
	<string>228738206803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AF.mixPanelLoginUI-0812</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-ad883</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-ad883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228738206803:ios:45f9beae302b459c36caa6</string>
</dict>
</plist>